@{
    ViewData["title"] = $"Uren brief {ViewData["currentMonth"]}/{ViewData["currentYear"]}";

    TimeSheet? timeSheet = ViewData["timeSheet"] as TimeSheet;
    List<SheetDay> sheetDays = ViewData["sheetDays"] as List<SheetDay>;
    if (timeSheet == null)
    {
        ViewData["errorMessage"] = "bad abasd";
    }

    int cDay = 0;
}

<div>
    @if (ViewData["errorMessage"] != null)
    {
        <div>
            @ViewData["errorMessage"]
        </div>
    }

    <form 
        action="/api/hour/@timeSheet.Id"
        method="post"
        class="hour-form">
    <table>
    <thead>
    <tr>
        <th>Datum</th>
        <th>Extra uren</th>
        <th>Gewerkte uren</th>
        <th>Omschrijving</th>
    </tr>
    </thead>

    <tbody>
    @foreach (SheetDay sheetDay in sheetDays)
            {
                <tr class="hour-input-wrapper">
                    <!-- Date -->
                    <td class="form-date">
                        @sheetDay.Date.ToString("dd/MM/yy")
                    </td>

                    <!-- Extra hours -->
                    <td class="hour-input">
                        <input
                            type="number"
                            name=@($"sheetDays[{cDay}].ExtraHour")
                            value="@($"{sheetDay.ExtraHours}")"/>
                    </td>

                    <!-- Hours -->
                    <td class="hour-input">
                        <input
                            type="number"
                            name=@($"sheetDays[{cDay}].Hour")
                            value="@($"{sheetDay.Hours}")"/>
                    </td>

                    <!-- Description -->
                    <td class="description-input">
                        <input
                            type="text"
                            name=@($"sheetDays[{cDay}].Description")
                            value=""/>
                    </td>
                </tr>
                
                @(cDay++)
            }
            </tbody>
        </table>
        
        <input type="submit"/>
    </form>
</div>